* {
    box-sizing: border-box;
}
:root {
    --main-color: #10cab7;
    --secondary-color:#2c4577;
    --section-padding:60px;
    --section-background: #f6f6f6;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* start header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links .icon {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: .2s;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
} 

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    display: block;
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: 0px;
    min-width: 200px;
    background-color: #f6f6f6;
    top: calc(100% + 20px);
     display: none;
     z-index: 2;
}

.header .links:hover ul {
    display: block;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li a {
    display: block;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: 0.3s;
    z-index: -1;
}

.header .links ul li a:hover  {
    padding-left: 27px;
    z-index: -1;
}

.header .links ul li:not(:last-child) a  {
  border-bottom: 1px solid #ddd;
}
/* end header */
/* <!-- start landing section --> */
.landing {
    background-image: url(../images/montain-image.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0px;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;

}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;

}
/* end landing section */
/* start features */
.features {
    padding-top:var(--section-padding) ;
    padding-bottom: var(--section-padding);
    background-color: var(--section-background)
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:20px
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color:var(--main-color) ;

}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
    text-transform: capitalize;
}

.features .feat p {
    line-height: 1.8;
    font-size: 20px;
}
/* end features */
/* start compouns */
.special-heading {
    color: #ebeced;    
    text-align: center;
    font-weight: 800;
    font-size: 100px;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading + p {
    text-align: center;
    color: #797979;
    margin: -30px 0 0;
    font-size: 20px;
}
@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading + p {
        margin-top: -20px;
    }
}
/* end compouns */
/* start-services */
.services {
    padding-top:var(--section-padding) ;

}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    .services .services-content .srv {
      flex-direction: column;
      text-align: center;
    }
}

.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;

}
.services .services-content .srv .text h3 {
    margin: 0;

}
.services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .image img {
    width: 90%;
    height: 344px;
}

.services .services-content .image {
    position: relative;
    text-align: center;
}

.services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

@media (max-width:1199px) {
    .image-column {
        display: none;
    }
}
/* end services */
/* start-portfolio */
.portfolio {
    padding-top: var(--section-padding) ;
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
    height: 242px;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
} 
.portfolio .portfolio-content .card .info p{
    margin-bottom: 0;
    color: #777;
    line-height: 1.6;
} 
.portfolio .portfolio-content .card .info h3 {
    margin: 0;
} 

.lol{
    width: 100%;
    height: 242px;
}

@media (min-width:992px) {
    .portfolio .portfolio-content .card img .lol {
        width: 100%;
        height: 242px;
    }
    .portfolio .portfolio-content .card img {
        max-width: 100%;
        height: 300px;
    }
        
}
/* end-portfolio */
/* start about */
.about {
    padding-top: var(--section-padding) ;
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content {
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px){
.about .about-content {
    flex-direction: column;
    text-align: center;
}
}
.about .about-content .image {
    width: 250px;
    height: 375px;
    position: relative;
}

.about .about-content .image img {
    max-width: 350px;
    height: 100%;
}
@media (max-width: 991px) {
    .about .about-content .image img {
        margin: 0 auto 60px;
    }
}
.about .about-content .image::before {
    content: "";
    width: 100px;
    height: calc(100% + 100px);
    background-color: #ebeced;
    position: absolute;
    top: -40px;
    left:-20px;
    z-index: -1;
} 

.about .about-content .image::after {
    content: "";
    right: -251px;
    width: 120px;
    height: 300px;
    position: absolute;
    border-left: var(--main-color) 80px solid;
    border-bottom: var(--main-color) 80px solid;
    top: -40px;
    z-index: -1;
}

@media (max-width: 991px) {
    .about-content .image::after,
    .about .about-content .image::before {
     display: none;
    }
    }

.about .about-content .text {
    flex-basis:calc(100% - 550px) ;
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    display: inline-block;
    border-color: var(--main-color);
    width: 50%;
}

.about .about-content .text p:last-of-type {
    color: #777;
    line-height: 2;

}
/* end about */
/* start contact */
.contact {
    padding-top: var(--section-padding) ;
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .info {
    padding-top: var(--section-padding) ;
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .label {
    text-align: center;
    color: var(--secondary-color);
    letter-spacing: -2px;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}

.contact .info .link {
    color: var(--main-color);
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;
}

.contact .info .social {
    display: flex;
    letter-spacing: 0px;
    font-size: 17px;
    justify-content: center;
    margin-top: 20px;
}

.contact .info .social i {
    color: var(--secondary-color);
    margin-left: 15px;
    font-size: 18px;
}
@media (max-width:767px){
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}
/* end contact */
/* start footer */
.footer {
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    font-size: 20px;
    padding: 30px 10px;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}
/* end footer */